:root {
  font-size: 62.5%;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
.lp-title-h1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  @include breakpoint-min($bp-medium) {
    font-size: 9rem;
  }
}

.lp-title-h2 {
  font-size: 5rem;
  font-weight: 700;
}
.text-general {
  font-size: 2rem;
  font-weight: 400;
}
.subhead {
  font-size: 2rem;
  font-weight: 400;
  @include breakpoint-min($bp-medium) {
    font-size: 2.2rem;
  }
}
.subhead-large {
  font-size: 3rem;
  font-weight: 700;
}

.general-list {
  list-style-type: none;
  padding-left: 0;
  li {
    background-image: url("../src/components/extendedFeatures/img/f-icon.svg");
    background-position: 0 0;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    padding-left: 5rem;
    font-size: 2rem;
    color: $general-cobalt;
    min-height: 48px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
