@import "./features-section-animations";
.lp-feature-section {
  opacity: 0;
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  gap: 20px 0;
  @include breakpoint-min($bp-medium) {
    align-items: center;
    gap: 0;
  }
  align-content: stretch;

  flex-wrap: wrap;

  .lp-feature-section__card {
    padding-top: 28px;
    padding-bottom: 32px;

    width: 48%;
    border-radius: 6px;
    border: 1px solid #f4f4f4;
    background: #fff;
    box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.06);
    @include breakpoint-min($bp-medium) {
      width: 16%;
    }
    .lp-feature-section__card-title {
      color: $general-cobalt;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 22px;
    }
    .lp-feature-section__card-text {
      color: $general-cobalt;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 22px;
    }
  }
}
